@use '../utils' as *;

/*----------------------------------------*/
/*  2.9 pagenation
/*----------------------------------------*/
.tp-pagenation{
    & nav{
        & ul{
            & li{
                list-style: none;
                display: inline-block;
                margin-bottom: 20px;
                margin-right: 2px;
                & a{
                    border: 1px solid #2d1a0e;
                    width: 40px;
                    height: 40px;
                    display: inline-block;
                    text-align: center;
                    line-height: 40px;
                    font-weight: 600;
                    font-size: 15px;
                    color: var(--tp-common-black4);
                    &.active{
                        background: var(--tp-common-black4);
                        color: var(--tp-common-white);
                        border-color: var(--tp-common-black4);
                    }
                    &:hover{
                        background: var(--tp-common-black4);
                        color: var(--tp-common-white);
                        border-color: var(--tp-common-black4);
                    }
                }
                &.active{
                    background: var(--tp-common-black4);
                    color: var(--tp-common-white);
                    border-color: var(--tp-common-black4);
                }
                &:hover{
                    background: var(--tp-common-black4);
                    color: var(--tp-common-white);
                    border-color: var(--tp-common-black4);
                }
                &.disabled{
                    display: none;
                }
            }
        }
    }
    &-2{
        & nav{
            & ul{
                & li{
                    & a{
                        color: #121420;
                        border-radius: 6px;
                        &.active{
                            background: var(--tp-theme-primary);
                            border-color: var(--tp-theme-primary);
                        }
                        &:hover{
                            background: var(--tp-theme-primary);
                            border-color: var(--tp-theme-primary);
                        }
                    }
                    border-radius: 6px;
                    &.active{
                        background: var(--tp-theme-primary);
                        border-color: var(--tp-theme-primary);
                        & a{
                            background: var(--tp-theme-primary);
                            border-color: var(--tp-theme-primary);
                        }
                    }
                    &:hover{
                        background: var(--tp-theme-primary);
                        border-color: var(--tp-theme-primary);
                    }
                }
            }
        }
    }
}