@use '../../utils' as *;

/*----------------------------------------*/
/* 7.24 team css
/*----------------------------------------*/

.#{$theme-prifix}-team{
  &-content{
    border: 1px solid #fff;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.9);
    padding: 15px 20px 11px 20px;
    opacity: 1;
    left: 20px;
    bottom: 20px;
    width: calc(100% - 40px);
    height: auto;
    -webkit-transform: translateY(0) scale(1, 0);
    transform: translateY(0) scale(1, 0);
    transform-origin: bottom center;
    position: absolute;
    -webkit-transition: all 350ms cubic-bezier(.37,0,.63,1);
    transition: all 350ms cubic-bezier(.37,0,.63,1);
  }
  &-item{
    &:hover{
      & .tp-team-content{
        opacity: 1;
        -webkit-transform: translateY(0) scale(1, 1);
        transform: translateY(0) scale(1, 1);
      }
      & .tp-team-title{
        transform: translateY(0);
        opacity: 1;
        transition-delay: 0.2s;
      }
      & .tp-team-subtitle{
        transform: translateY(0);
        opacity: 1;
        transition-delay: 0.3s;
      }
    }
  }
  &-title{
    font-family: var(--tp-ff-playfair);
    font-weight: 700;
    font-size: 20px;
    color: var(--tp-common-black4);
    margin-bottom: 2px;
    opacity: 0;
    transform: translateY(15px);
    -webkit-transition: all .4s cubic-bezier(.37,0,.63,1);
    transition: all .4s cubic-bezier(.37,0,.63,1);
  }
  &-subtitle{
    font-family: var(--tp-ff-onest);
    font-weight: 500;
    font-size: 14px;
    color: var(--tp-grey-5);
    transform: translateY(10px);
    -webkit-transition: all .4s cubic-bezier(.37,0,.63,1);
    transition: all .4s cubic-bezier(.37,0,.63,1);
    margin-bottom: 0;
    opacity: 0;
  }
}
.box-transition{
  overflow: hidden;
  & img{
    -webkit-transition: all .4s cubic-bezier(.37,0,.63,1);
    transition: all .4s cubic-bezier(.37,0,.63,1);
  }
  &:hover{
    & img{
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}