@use '../utils' as *;
/*---------------------------------
  1.1 Common Classes
---------------------------------*/

.w-img{
	width: 100%;
}
.m-img{
	& img{
		max-width: 100%;
	}
}
.cursor-default{
	cursor: default;
}
.lineheight-1{
	line-height: 1;
}
.fix {
  overflow: hidden;
}
.clear{
    clear: both;
}
.f-right{
	float: right;
}
.z-index-0{
	z-index: 0;
}
.z-index-1{
	z-index: 1;
}
.z-index-11{
	z-index: 11;
}
.text-right{
	text-align: right;
}
.pointer{
	cursor: pointer;
}
.overflow-y-visible{
	overflow-x: hidden;
	overflow-y: visible;
}
.p-relative{
	position: relative;
}
.p-absolute{
	position: absolute;
}
.include-bg{
	@include background();
}
.bg-position{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	&-md{
		&-left{
			@media #{$md,$sm,$xs} {
				background-position: left;
			}
		}
	}
}

/* dropcap */
.#{$theme-prifix}-dropcap{
	&::first-letter{
		font-size: 90px;
		font-weight: 500;
		float: left;
		text-align: center;
		color: var(--tp-common-black);
		margin-right: 5px;
		line-height: inherit;
		text-transform: capitalize;
	}
}

// for svg
// on hover stroke animation
// not checked
.class{
	stroke-dasharray: 189px, 191px;
	stroke-dashoffset: 0px;
}


/* gutter for x axis */
.tp-gx-10{
	--bs-gutter-x: 10px;

	@media #{$lg}{
		--bs-gutter-x: 10px;
	}

	@media #{$md}{
		--bs-gutter-x: 10px;
	}

	@media #{$sm}{
		--bs-gutter-x: 10px;
	}

	@media #{$xs}{
		--bs-gutter-x: 10px;
	}

	& [class*="col-"]{
		padding-right: calc(var(--bs-gutter-x) * .5);
		padding-left: calc(var(--bs-gutter-x) * .5);
		margin-top: var(--bs-gutter-y);
	}
}

.tp-gx-12{
	--bs-gutter-x: 12px;

	@media #{$lg}{
		--bs-gutter-x: 12px;
	}

	@media #{$md}{
		--bs-gutter-x: 10px;
	}

	@media #{$sm}{
		--bs-gutter-x: 10px;
	}

	@media #{$xs}{
		--bs-gutter-x: 10px;
	}

	& [class*="col-"]{
		padding-right: calc(var(--bs-gutter-x) * .5);
		padding-left: calc(var(--bs-gutter-x) * .5);
		margin-top: var(--bs-gutter-y);
	}
}

/* gutter for x axis */
.tp-gx-15{
	--bs-gutter-x: 15px;

	@media #{$lg}{
		--bs-gutter-x: 15px;
	}

	@media #{$md}{
		--bs-gutter-x: 15px;
	}

	@media #{$sm}{
		--bs-gutter-x: 15px;
	}

	@media #{$xs}{
		--bs-gutter-x: 10px;
	}

	& [class*="col-"]{
		padding-right: calc(var(--bs-gutter-x) * .5);
		padding-left: calc(var(--bs-gutter-x) * .5);
		margin-top: var(--bs-gutter-y);
	}
}
.tp-gx-20{
	--bs-gutter-x: 20px;

	@media #{$lg}{
		--bs-gutter-x: 20px;
	}

	@media #{$md}{
		--bs-gutter-x: 20px;
	}

	@media #{$sm}{
		--bs-gutter-x: 15px;
	}

	@media #{$xs}{
		--bs-gutter-x: 10px;
	}

	& [class*="col-"]{
		padding-right: calc(var(--bs-gutter-x) * .5);
		padding-left: calc(var(--bs-gutter-x) * .5);
		margin-top: var(--bs-gutter-y);
	}
}

.tp-gx-23{
	--bs-gutter-x: 23px;

	@media #{$lg}{
		--bs-gutter-x: 23px;
	}

	@media #{$md}{
		--bs-gutter-x: 20px;
	}

	@media #{$sm}{
		--bs-gutter-x: 15px;
	}

	@media #{$xs}{
		--bs-gutter-x: 10px;
	}

	& [class*="col-"]{
		padding-right: calc(var(--bs-gutter-x) * .5);
		padding-left: calc(var(--bs-gutter-x) * .5);
		margin-top: var(--bs-gutter-y);
	}
}

/* gutter for x axis */
.tp-gx-30{
	--bs-gutter-x: 30px;

	@media #{$lg}{
		--bs-gutter-x: 30px;
	}

	@media #{$md}{
		--bs-gutter-x: 30px;
	}

	@media #{$sm}{
		--bs-gutter-x: 15px;
	}

	@media #{$xs}{
		--bs-gutter-x: 10px;
	}

	& [class*="col-"]{
		padding-right: calc(var(--bs-gutter-x) * .5);
		padding-left: calc(var(--bs-gutter-x) * .5);
		margin-top: var(--bs-gutter-y);
	}
}

/* gutter for x axis */
.tp-gx-40{
	--bs-gutter-x: 40px;

	@media #{$lg}{
		--bs-gutter-x: 40px;
	}

	@media #{$md}{
		--bs-gutter-x: 30px;
	}

	@media #{$sm}{
		--bs-gutter-x: 30px;
	}

	@media #{$xs}{
		--bs-gutter-x: 15px;
	}

	& [class*="col-"]{
		padding-right: calc(var(--bs-gutter-x) * .5);
		padding-left: calc(var(--bs-gutter-x) * .5);
		margin-top: var(--bs-gutter-y);
	}
}
/* gutter for x axis */
.tp-gx-50{
	--bs-gutter-x: 50px;
	@media #{$xl}{
		--bs-gutter-x: 40px;
	} 
	@media #{$lg}{
		--bs-gutter-x: 30px;
	}

	@media #{$md}{
		--bs-gutter-x: 20px;
	}

	@media #{$sm}{
		--bs-gutter-x: 15px;
	}

	@media #{$xs}{
		--bs-gutter-x: 10px;
	}

	& [class*="col-"]{
		padding-right: calc(var(--bs-gutter-x) * .5);
		padding-left: calc(var(--bs-gutter-x) * .5);
		margin-top: var(--bs-gutter-y);
	}
}

/* gutter for x axis */
.tp-gx-60{
	--bs-gutter-x: 60px;
	@media #{$xl}{
		--bs-gutter-x: 40px;
	} 
	@media #{$lg}{
		--bs-gutter-x: 30px;
	}

	@media #{$md}{
		--bs-gutter-x: 20px;
	}

	@media #{$sm}{
		--bs-gutter-x: 15px;
	}

	@media #{$xs}{
		--bs-gutter-x: 10px;
	}

	& [class*="col-"]{
		padding-right: calc(var(--bs-gutter-x) * .5);
		padding-left: calc(var(--bs-gutter-x) * .5);
		margin-top: var(--bs-gutter-y);
	}
}